h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24pt;
  color: #67c2c2;
}

section h2, h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 20pt;
  color: #3b6784;
}

li.comp > div > h3, .list > li h3, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18pt;
  color: #bbbbbb;
  margin: 0px;
}

.list > li h3, h3 {
  float: left;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 18pt;
  color: #333333;
}

nav > h1 {
  margin-top: 7px;
}

#global-nav {
  background-color: #3b6784;
}

.segmented > .button:hover, .segmented > .button.selected{
  background-color: #67c2c2;
}

.segmented > .button:first-of-type {
  border-left: solid 2px #67c2c2;
}

.segmented > .button:last-of-type {
  border-right: solid 2px #67c2c2;
}

.segmented > .button{
  padding: 7px 15px;
  border: solid 1px #67c2c2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24pt;
}

article > section, .slide-out > section {
  padding-top: 0px;
}

.global-nav-image{
  text-align: center;
  display: inline-block;
  margin: 0px auto;
}

.list > li {
  padding: 0px 15px 0px 0px;
}

li.comp > div{
  padding: 25px;
}

section h2 {
  margin: 10px 0 13px 0px;
  overflow: visible;
}

.event-description{
  margin: 20px;
}

a.button.back, a.button.backTo {
  color: #fff;
}

a.button.back::before, a.button.backTo::before {
  background-color: #fff;
}

.custom-icon {
  background-image: url("../images/custom/icon_sprite.png");
}

.custom-icon-right-arrow {
  height: 11px;
  width: 10px;
  margin: 3px 5px;
  background-position: -60px 0px;
}

.custom-icon-money {
  width: 6px;
  height: 17px;
  margin: 0 7px;
  background-position: -20px 0px;
}

.custom-icon-fvc {
  width: 19px;
  height: 13px;
  margin: 3px 2px;
  background-position: 0px 0px;
}

.custom-icon-check {
  width: 14px;
  height: 15px;
  margin: 1px 7px;
  background-position: -40px 0px;
}

.custom-right-aside-arrow {
  clear: both;
}

.event-option-icons-container{
  float: right;
  display:  inline-flex;
}

.segmented > .button {
  padding: 7px 0px;
}